:root{
    --size-arrowicon: 314%;
    --grid-gap: 10em;
    --grid-padding: 10px;
    --grid-widthImg: 400px;
    --header-color: #ee6e73;
}
#box{
    background: url(image/bg02.png);
}
.question{
    float: left;
    width: 100%;
    background: #ec828236;
    margin: 8px;
    padding: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.question h5{ font-size: 22px; }

div[class=question-label] {
    margin: 0 auto;
    margin-left: 15px!important;  
    padding-top: 5px;
    padding-bottom: 5px;
}
.clr{clear: both;}

question-label label span{
    font-size: 30px;
}
.header-content{
    text-align: center;
    color: var(--header-color);
}


#submit{ width: 100%!important; }
.card-content p{ font-size: 25px;}

.menu{
    position: absolute;
    width: 100%;
}
#menu-icon{
    color:#fff; 
    border-radius: 5px; 
    position: absolute;
    font-size: var(--size-arrowicon);
    right:0px;
    top:0px;
}
#close-menu{
    font-size: var(--size-arrowicon);
}
#menu-active{
    background-color: #027abc;
}
.grid{
    display: grid;
    justify-content: center;
    padding: var(--grid-padding);
    grid-gap: var(--grid-gap);
}
.box-img1{
    grid-template-columns: auto auto;
}

.box-img2{
    grid-template-columns:auto auto auto;
    
}

.box-item img{
    width: var(--grid-widthImg);
}

.badge{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-danger{
    color: #fff!important;
    background-color: #dc3545;
}

.badge-success {
    color: #fff!important;
    background-color: #28a745;
}